[submodule "tools/nginx_setup"]
	path = tools/nginx_setup
	url = git@github.com:TirsvadCMS-Bashscripts/nginx_setup.git
[submodule "tools/nginxSetup"]
	path = tools/nginxSetup
	url = git@github.com:TirsvadCMS-Bashscripts/nginx_setup.git
